@model AdvertisingERP.Models.Compaign
@{
    ViewBag.Title = "CampaignMaster";
    Layout = "~/Views/Shared/_layout.cshtml";
}


<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #ff00003b !important;
    }
</style>
<div class="clearfix"></div>
@using (Html.BeginForm("CampaignMaster", "Compaign", FormMethod.Post, new { @id = "signupForm", enctype = "multipart/form-data" }))
{
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-5 align-self-center">
                        <h4 class="page-title"></h4>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">CampaignMaster</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Compaign</li>
                                </ol>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="m-b-0 card-title">
                        Add New CampaignMaster
                        <a href="/Compaign/CompaignList" class="btn btn-light list-button" style="margin-left: 62%;">Back To List</a>
                    </div>
                    <hr>
                  

                        <div class="container-fluid">
                            <div class="alert alert-success" style="display:@ViewBag.errormsg">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span> </button>
                                <h5 class="text-success"><i class="fa fa-check-circle"></i>@TempData["CompaignError"]</h5>

                            </div>
                            <div class="row">
                                 <div class="col-md-4">
                                      <label for="input-1">Customer Name<span style="color: red">*</span></label>
                                      @Html.TextBoxFor(m => m.CustomerName, new { @class = "form-control", @Placeholder = "Customer Name" })
                                      @Html.HiddenFor(m => m.CustomerId)
                                  </div>
                                 <div class="col-md-4">
                                      <label for="input-1">Creative Name </label>
                                      @Html.TextBoxFor(m => m.CreativeName, new { @class = "form-control", @Placeholder = "Creative Name", @onchange = "return endDateChange();" })

                                                            </div>
                                 <div class="col-md-4">
                                     <label for="input-1">Start Date <span style="color: red">*</span></label> @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control", @Placeholder = "Start Date", @onchange = "return endDateChange();" })
                                                            </div>
                                <div class="col-md-4">
                                    <label for="input-1">End Date <span style="color: red">*</span></label>
                                    @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control", @Placeholder = "End Date", @onchange = "return endDateChange();" })
                                                            </div>
                                <div class="col-md-4"><label for="input-1">Campaign Description <span style="color: red">*</span></label>
                                 @Html.TextAreaFor(m => m.Decription, new { @class = "form-control", @Placeholder = "Campaign Description" })
                                                            </div>
                                                       
                                </div>
                             <div class="row">
                                  <div class="col-md-12">
                                       <div class="row">
                                                            <div class="col-md-offset-3 col-md-12">
                                                                @if (Model.CompaignId != null)
                                                                {
                                                                    if (Model.SOMappedStatus == "0")
                                                                    {
                                                                        if (Model.CompaignId != null)
                                                                        {
                                                                            <input type="submit" value="Update Campaign" class="btn btn-light list-button" name="UpdateCompaign" onclick="return validateCompaign();" />
                                                                        }
                                                                        else
                                                                        {
                                                                            <input type="submit" value="Save Campaign" class="btn btn-light list-button" name="SaveCompaign" onclick="return validateCompaign();" />
                                                                            <a href="/Compaign/CampaignMaster" class="btn btn-dark">Reset</a>
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        <div class="alert alert-info">
                                                                            This Campaign is mapped with Sale Order; so it cannot be Updated.
                                                                        </div>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <input type="submit" value="Save Campaign" class="btn btn-light list-button" name="SaveCompaign" onclick="return validateCompaign();" />
                                                                    <a href="/Compaign/CampaignMaster" class="btn btn-dark">Reset</a>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
}
<script>
    jQuery('.mydatepicker, #datepicker, .input-group.date').datepicker(
        {
            dateFormat: 'dd/mm/yy',

            changeYear: true,
            changeMonth: true

        });

</script>
<script>
    $(document).ready(function () {

        var cityuse = [];

        $.ajax({
            url: '/Compaign/GetAllCustomer', type: 'Post', success: function (response) {

                if (response != null) {

                    $(response).each(function (index, item) {
                        cityuse.push(item.CompanyName + "(" + item.CustomerCode + ")");
                    });

                    $('#CustomerName').autocomplete({
                        source: cityuse,
                        select: function (event, ui) {
                            var str = ui.item.label;
                            var afterComma = str.substr(str.indexOf("(") + 1);
                            var citycode = afterComma.substr(0, afterComma.length - 1);
                            $('#CustomerId').val(citycode);
                        }
                    })
                }
                else {

                }
            }, error: function () { alert('Some Thing wrong!'); }
        });

        $("#divload").css({ 'display': 'none' });

    });

    function validateCompaign() {
        $(".errortext").removeClass("errortext");
        if ($('#CustomerName').val() == '') {
            $("#CustomerName").addClass('errortext');
            $('#CustomerName').focus();
            return false;
        }
        if ($('#CreativeName').val() == '') {
            $("#CreativeName").addClass('errortext');
            $('#CreativeName').focus();
            return false;
        }

        if ($('#StartDate').val() == '') {
            $("#StartDate").addClass('errortext');
            $('#StartDate').focus();
            return false;
        }
        if ($('#EndDate').val() == '') {
            $("#EndDate").addClass('errortext');
            $('#EndDate').focus();
            return false;

        }
        if ($('#Decription').val() == '') {
            $("#Decription").addClass('errortext');
            $('#Decription').focus();
            return false;

        }
        $("#divload").css({ 'display': '' });

    }

    function endDateChange() {
        $('#Decription').val($('#CreativeName').val() + " (" + $('#StartDate').val() + " to " + $('#EndDate').val() + ")");
    }

</script>
